<div class="jumbotron">
  <div class="container"
>  <h1>Earn commissions by recommending website applications and services.</h1>
  <p><%= link_to "Sign-up now", new_user_registration_path, :class => "btn btn-primary btn-lg", :role => "button" %></p>
  </div>
</div>

<section class="main">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>
