<section id="admin_sidebar" class="col-sm-3">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Tags", tags_path %></li>
  </ul>
</section>
