<section id="main" class="col-sm-9">
  <div class="header">
    <h2>Welcome <%= current_user.email %> </h2>
    <subtitle><em>Can display some analytics here</em></subtitle>
  </div>

  <div class="content">

  </div>
</section>
