<div class="main" role="main" style="background-color: #F9F9F9;">
  <section class="page-content" style="padding-top: 57px;">
    <div class="container">
      <div class="row" id="vg-maincontent">
        
<section id="main" class="col-sm-9">
  <div class="header">
    <h2>Welcome <%= current_user.email %> </h2>
    <subtitle><em>Can display some analytics here</em></subtitle>
  </div>

  <div class="content">

  </div>
</section>

      </div>
  </section>
    </div>
</div>

