<label class = "col-sm-2 control-label">Tags</label>
<div class="col-sm-10">
<%= hidden_field_tag "product[tags_ids][]", nil %>
  <% @tags.each do |t|  %>
    <div class="col-sm-6">
      <%= check_box_tag "product[tag_ids][]", t.id, @product.tag_ids.include?(t.id), id: dom_id(t) %>
      <%= label_tag dom_id(t), t.name  %>
    </div>
  <% end %>
</div>
