<div class="main" role="main" style="background-color: #F9F9F9;">
  <section class="page-content" style="padding-top: 57px;">
    <div class="container">
      <div class="row" id="vg-maincontent">

<div class="container">
  <h1>Editing Product</h1>

  <%= render 'form' %>

  <div class="col-sm-12">
    <%= link_to 'Show', admin_product_path(@product) %> |
    <%= link_to 'Back', admin_products_path %>
  </div>
</div>

      </div>
  </section>
    </div>
</div>
