<div class="container">
  <div class="header">
    <h1>Listing Products</h1>

    <%= link_to 'New Product', new_admin_product_path, :class => "btn btn-primary"  %>
  </div>

  <div class="main">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Short Description</th>
          <th>View page count</th>
          <th>Apply count</th>
          <th>Visit website count</th>
          <th colspan="3">Controls</th>
        </tr>
      </thead>

      <tbody>
        <%= render @products %>
      </tbody>
    </table>
  </div>
</div>
