<div class="container">
  <h1>Editing Commission Type</h1>

  <%= render 'form' %>

  <%= link_to 'Show', admin_commission_type_path(@commission_type) %> |
  <%= link_to 'Back', admin_commission_types_path %>
</div>
