<div class="modal fade" id="mod-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          <a href="javascript:void(0)" data-dismiss="modal">close</a>
          <iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form"
          src="https://ensend.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Contact+Us&submitThanks=Thank+you+for+sending+your+feedback.&screenshot=no&searchArea=no" scrolling="no" height="390px" width="100%" frameborder="0" >  
          </iframe>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
