<div class="modal fade" id="mod-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog custom">
    <div class="modal-content">
        <div class="modal-body">
          <a href="javascript:void(0)" data-dismiss="modal">close</a>
          <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="//ensend.us7.list-manage.com/subscribe/post?u=507ca4ead751041f1b30525f1&amp;id=4b0c629cb5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <h2 style="font-size: 18px; margin-top: 0px; text-transform: none; font-weight: normal; font-family: 'Muli', sans-serif;">
                  Sign-up now and get updated on our selection of commission deals when we go live!</h2>
                  <div class="mc-field-group">
                    <label style="font-size: 20px; font-weight: bold;" for="mce-EMAIL">Email Address </label>
                    <input style="color: #6d6d6d;" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_507ca4ead751041f1b30525f1_4b0c629cb5" tabindex="-1" value="">
                </div>
                </div>
                <div class="cta-btn" style="text-align: left; display: block;">
                  <button style="font-family: 'Muli', sans-serif; font-weight: bold; text-transform: none; margin-left: 0px; margin-top: 0px; padding: 15px 40px 15px 40px;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success">Sign Up</button>
                </div>
            </form>
          </div>

        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
