.table-striped tbody tr td:first-child {
  cursor: pointer;
}

.subtitle {
  color: #9C9C9C;
}

.alert {
  margin-bottom: 0px;
}

.custom-home-slider .home-slider-container {
  background-image: url("../assets/images/city2.1_bg_blur.jpg") !important;
}
