.navbar {
  padding: 20px;
  margin-bottom: 0px;

  .navbar-header img {
    width: 80%;
  }
}

.jumbotron {
  padding: 130px 0;
  background: url("../assets/images/city2.1_bg_blur.jpg");

  .row {
    background-color: rgba(255,255,255,0.5);
  }
}

.main {

  .row {
    padding: 100px 0;
  }

  .features {
    border: 1px solid #dcdcdc;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
  }

  .icon-box {
    padding: 60px 120px 0;
  }

  i {
    padding: 30px;
    border-radius: 80px;
    border: 5px solid $ensend;
    margin: auto;
  }

  .fa {
    color: $ensend;
  }

  .icon-body {
    padding: 40px;
  }
}
