<div class="main" role="main" style="background-color: #F9F9F9;">
  <section class="page-content" style="padding-top: 57px;">
    <div class="container">
      <div class="row" id="vg-maincontent">
        <div class="col-md-12">
	  <article class="entry ">
	    <div class="item-page" itemscope itemtype="http://schema.org/Article">
	    <meta itemprop="inLanguage" content="en-GB" />  
              <%= render 'components/sidebar/user_sidebar' %>
               <span itemprop="articleBody">
		<h1>Product Category</h1><!-- Render Selected Tag Here-->
                <%= render @products %>
                  <div class="row">
                  </div>
               </span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>