<div class="container">
  <div class="header">
    <h1>Listing Products</h1>
  </div>

  <div class="main">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Short description</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.title, product %></td>
            <td><%= truncate(strip_tags(product.short_description), length: 80) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
